.usersContainer{
    align-items: center;
}

.usersList {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(155px, 1fr));
    gap: 30px;
    justify-items: center;
}


.user{
    display: inline-block;
}

.bntPos{
    position: relative;
    top: -35px;
    left: 115px;
    margin-bottom: -40px;
    width: 40px;
}

.searchForm{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.searchFormInput {
    width: 200px;
}

.searchFormSelect{
    width: 200px;
}

